<html>
    <head>
        <title>EmpreendeKit</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" type="text/css" href="/css/www.css" />
        <link rel="stylesheet" type="text/css" href="/css/images.css" />
        <link rel="stylesheet" type="text/css" href="/css/colors.css" />

        <script type="text/javascript" src="/js/class.min.js"></script>
        <script type="text/javascript" src="/js/ajax.min.js"></script>
        <script type="text/javascript" src="/js/namespace.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            var folder = '/js/',
                auth = '<%=config.services.auth.url%>:<%=config.services.auth.port%>';

            var Error = new Class(function (params) {
                console.log(params);
            })

            var Empreendekit = new Namespace({
                config  : folder + 'configuration/configuration.js',
                ajax    : folder + 'ajax/ajax.js',
                apps    : folder + 'apps/apps.js',
                auth    : folder + 'auth/auth.js',
                path    : folder + 'path/path.js',
                ui      : folder + 'ui/ui.js'
            }, function () {
                var app =  location.pathname.match(/^\/([^\/]+)/) || [],
                    route = location.pathname.match(/^\/[^\/]+(.*)/) || [];

                this.apps.open({
                    app   : app[1] || 'ee',
                    route : route[1] || '/',
                    open  : function (app) {
                    }
                });
            });
        </script>
    </body>
</html>