<html>
    <head>
        <title>EmpreendeKit</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" type="text/css" href="/css/www.css" />
        <link rel="stylesheet" type="text/css" href="/css/images.css" />
        <link rel="stylesheet" type="text/css" href="/css/colors.css" />

        <script type="text/javascript" src="/js/class.min.js"></script>
        <script type="text/javascript" src="/js/ajax.min.js"></script>
        <script type="text/javascript" src="/js/namespace.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            var folder = '/js/',
                auth = '<%=config.services.auth.url%>:<%=config.services.auth.port%>';

            var Empreendekit = new Namespace({
                config  : folder + 'config/config.js',
                ajax    : folder + 'ajax/ajax.js',
                apps    : folder + 'apps/apps.js',
                auth    : folder + 'auth/auth.js',
                events  : folder + 'events/events.js',
                routes  : folder + 'routes/routes.js',
                tracker : folder + 'tracker/tracker.js',
                ui      : folder + 'ui/ui.js'
            }, function () {
                var current_path = location.pathname.match(/([\/][A-Za-z0-9\-]*[^\/])/g) || ['/'],
                    route = location.pathname.replace(current_path[0], '') || '/';

                if (current_path[0] === '/') {
                    this.apps.open({
                        app   : 'ee',
                        route : '/',
                        open  : function (app) {
                            console.log(app)
                        }
                    });
                } else {
                    history.pushState({}, 'EmpreendeKit', '/');

                    this.apps.open({
                        app   : current_path[0].replace('/', ''),
                        route : route,
                        open  : function (app) {
                            console.log(app)
                        }
                    });
                }
            });
        </script>
    </body>
</html>